<div id="<%= dom_id change_order %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= change_order.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cost</p>
    <%= change_order.cost %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Amount down</p>
    <%= change_order.amount_down %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Amount with held</p>
    <%= change_order.amount_with_held %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Start date</p>
    <%= change_order.start_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">End date</p>
    <%= change_order.end_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Amount down date</p>
    <%= change_order.amount_down_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Amount with held date</p>
    <%= change_order.amount_with_held_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Project</p>
    <%= change_order.project_id %>
  </div>
</div>
