<div id="<%= dom_id employee %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">First name</p>
    <%= employee.first_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Last name</p>
    <%= employee.last_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Hire date</p>
    <%= employee.hire_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Wage</p>
    <%= employee.wage %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Hours</p>
    <%= employee.hours %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Status</p>
    <%= employee.status %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Crew</p>
    <%= employee.crew_id %>
  </div>
</div>
