<div id="<%= dom_id job %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= job.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Bid hours</p>
    <%= job.bid_hours %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Actual hours</p>
    <%= job.actual_hours %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Start date</p>
    <%= job.start_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">End date</p>
    <%= job.end_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cost code</p>
    <%= job.cost_code_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cost</p>
    <%= job.cost %>
  </div>
</div>
