<div id="<%= dom_id division %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= division.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Utlization rate</p>
    <%= division.utlization_rate %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Overtime rate</p>
    <%= division.overtime_rate %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Overtime after</p>
    <%= division.overtime_after %>
  </div>
</div>
