<div id="<%= dom_id client %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= client.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Email</p>
    <%= client.email %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Business phone</p>
    <%= client.business_phone %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cell phone</p>
    <%= client.cell_phone %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Secondary name</p>
    <%= client.secondary_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Secondary email</p>
    <%= client.secondary_email %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Secondary business phone</p>
    <%= client.secondary_business_phone %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Secondary cell phone</p>
    <%= client.secondary_cell_phone %>
  </div>
</div>
