<div id="<%= dom_id project %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= project.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Type</p>
    <%= project.type %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Start date</p>
    <%= project.start_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">End date</p>
    <%= project.end_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cost</p>
    <%= project.cost %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Amount down</p>
    <%= project.amount_down %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Amount down date</p>
    <%= project.amount_down_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Amount with held</p>
    <%= project.amount_with_held %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Amount with held date</p>
    <%= project.amount_with_held_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Contact info</p>
    <%= project.contact_info %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Status</p>
    <%= project.status %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Client</p>
    <%= project.client_id %>
  </div>
</div>
