<div id="<%= dom_id temp_employee %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Start date</p>
    <%= temp_employee.start_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">End date</p>
    <%= temp_employee.end_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Override hours</p>
    <%= temp_employee.override_hours %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Override type</p>
    <%= temp_employee.override_type %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Temp crew</p>
    <%= temp_employee.temp_crew_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Employee</p>
    <%= temp_employee.employee_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Job</p>
    <%= temp_employee.job_id %>
  </div>
</div>
