<div id="<%= dom_id temp_crew %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Job</p>
    <%= temp_crew.job_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Crew</p>
    <%= temp_crew.crew_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Start date</p>
    <%= temp_crew.start_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">End date</p>
    <%= temp_crew.end_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= temp_crew.name %>
  </div>
</div>
